.genres {
    display: grid;
    width: 100%;
    grid-template-columns:repeat(10, 1fr);
    gap: .5rem;
    margin-left: -10px;
}

@media only screen and (max-width: 1024px) {
    .genres {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(8, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .genres {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(5, 1fr);
        margin-left: 0px;
       
    }
}
@media only screen and (max-width: 600px) {
    .genres-parent {
        margin-left: -20px;
    }
    .genres {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(4, 1fr);
        padding-right: 50px;
    }
}
@media only screen and (max-width: 414px) {
    .genres-parent {
        margin-left: -20px;
    }
    .genres {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(2, 1fr);
        padding-left: 55px;
    }
}
@media only screen and (max-width: 375px) {
    .genres-parent {
        margin-left: -40px;
    }
    .genres {
        display: grid;
        width: 100%;
        grid-template-columns:repeat(2, 1fr);
        margin-right: 40px;
    }
}