.hero_slide {
  margin-top: -50px;
}
.hero-slide_item {
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  width: auto;
  padding: 0;
}
.hero-slide_item:before {
  /* content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); */
}

img {
  width: 100%;
  height: 100%;
}
.hero-slide_item_poster {
  width: 40%;
}
.hero-slide_item_poster img {
  width: 260px;
  height: 380px;
  border-radius: 30px;
  height: auto;
  transform: scale(0);
  transition: transform 0.7s ease;
}

.hero-slide_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.hero-slide_item::after {
  /* content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, #0f0f0f, rgba(black, 0)); */
}
.hero-slide_item_inner {
  padding: 0 80px;
}
.hero-slide_item_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 150px;
}
.hero-slide_item_content .hero-slide_item_info {
  width: 60%;
}
.hero-slide_item_info .title {
  font-size: 40px;
}
.hero-slide_item_info .overview {
  font-weight: 500;
}
.btns button {
  display: inline-block;
  padding: 12px 20px;
  cursor: pointer;
  margin-top: 20px;
  background-color: transparent;
  color: white;
  font-size: 19px;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 10px;
  background-color: rgb(228, 65, 65);
}
.btns button:last-child {
  margin-left: 10px;
}

.hero-slide_item.active .hero-slide_item_content .hero-slide_item_poster img {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
.hero-slide_item .hero-slide_item_content .hero-slide_item_info {
  opacity: 0;
  transform: translateY(-100px);
  -webkit-transform: translateY(-100px);
  -moz-transform: translateY(-100px);
  -ms-transform: translateY(-100px);
  -o-transform: translateY(-100px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease;
  -moz-transition: transform 0.5s ease, opacity 0.5s ease;
  -ms-transition: transform 0.5s ease, opacity 0.5s ease;
  -o-transition: transform 0.5s ease, opacity 0.5s ease;
}
.hero-slide_item.active .hero-slide_item_content .hero-slide_item_info {
  opacity: 1;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
.hero-slide_item.active .hero-slide_item_content .hero-slide_item_info .title {
  transition-delay: 0.3s;
}
.hero-slide_item.active
  .hero-slide_item_content
  .hero-slide_item_info
  .overview {
  transition-delay: 0.6s;
}
.hero-slide_item.active .hero-slide_item_content .hero-slide_item_info .btns {
  transition-delay: 0.9s;
}

@media only screen and (max-width: 1024px) {
  .hero-slide_item {
    background-size: cover;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    padding: 0;
  }
  .hero-slide_item_content {
    padding-top: 60px;
  }
  .hero-slide_item_inner {
    padding: 0 30px;
  }
}

@media only screen and (max-width: 768px) {
  .hero-slide_item {
    background-size: cover;
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    padding: 0;
  }
  .hero-slide_item_inner {
    padding: 0 30px;
  }
  .hero-slide_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
  }
  .hero-slide_item_content .hero-slide_item_info {
    width: 100%;
  }
  .hero-slide_item_poster {
    display: none;
  }

  .hero-slide_item_info .overview {
    display: none;
  }
  .hero-slide_item_info .title {
    font-size: 35px;
  }
}

@media only screen and (max-width: 600px) {
  .hero-slide_item {
    background-size: cover;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    padding: 0;
  }
  .hero-slide_item_inner {
    padding: 0 30px;
  }
  .hero-slide_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 90px;
  }
  .hero-slide_item_content .hero-slide_item_info {
    width: 100%;
  }

  .hero-slide_item_info .title {
    font-size: 30px;
  }
}

@media only screen and (max-width: 375px) {
  .hero-slide_item {
    background-size: cover;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    padding: 0;
  }
  .hero-slide_item_inner {
    padding: 0 30px;
  }
  .hero-slide_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
  }
  .hero-slide_item_content .hero-slide_item_info {
    width: 100%;
  }

  .hero-slide_item_info .title {
    font-size: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .hero-slide_item {
    background-size: cover;
    height: 35vh;
    background-position: center;
    background-repeat: no-repeat;

    width: auto;
    padding: 0;
  }
  .hero-slide_item_inner {
    padding: 0 10px;
  }
  .hero-slide_item_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
  }
  .hero-slide_item_content .hero-slide_item_info {
    width: 100%;
  }

  .hero-slide_item_info .title {
    font-size: 20px;
  }

  .btns button {
    padding: 8px 12px;
  }
}
