.media {
  padding: 40px 80px;
  width: 100%;

}
.media .trending .loading {
  text-align: center;
}
.trending {
  display: grid;
  grid-template-columns: repeat(5, 220px);
  gap: 2rem 1.5rem;
 
}
@media screen and (max-width: 1024px) {

    .media {
        padding: 0 50px;
        margin-top: 40px;
    }
  .trending {
    display: grid;
    grid-template-columns: repeat(4, 215px);
    gap: 1rem;
  
  }
}

@media screen and (max-width: 768px) {
    .media {
        padding: 0 25px;
    }
  .trending {
    display: grid;
    grid-template-columns: repeat(3, 215px);
    gap: 1.5rem 2rem;
  }
}
@media screen and (max-width: 600px) {
    .media {
        padding: 0 50px;
    }
  .trending {
    display: grid;
    grid-template-columns: repeat(2, 215px);
    padding-left: 20px;
  }
}

@media screen and (max-width: 414px) {
  .media {
    padding: 0 20px;
  }
  .trending {
    display: grid;
    grid-template-columns: repeat(1, 240px);
    padding-left: 60px;
  }
}

@media screen and (max-width: 375px) {
  .media {
    padding: 0 15px;
  }
  .trending {
    display: grid;
    grid-template-columns: repeat(1, 200px);
    padding-left: 60px;
  }
}

@media screen and (max-width: 320px) {
  .media {
   display: flex;
   justify-content: center;
   align-items: center;
  }
  .trending {
    display: grid;
    grid-template-columns: repeat(1, 215px);
   
  }
}
